<h1><%= @line.color.capitalize %> Line:</h1>

<h3>Stations:</h3>
<ul class="unstyled">
<% @line.stops.each do |stop| %>
  <li><a href=""><%= Station.find(stop.station_id).name.capitalize %></a></li>
<% end %>
</ul>

<%= link_to "Go Back", root_path, :class => "btn btn-danger btn-sm" %>
<%= link_to "Add Stop", new_line_stop_path(@line), :class => "btn btn-success btn-sm" %>
